services:
  db:
    image: mysql:9.0
    container_name: mysql_prueba
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "1234"
      MYSQL_DATABASE: "comanda_as"
      MYSQL_USER: "admin"
      MYSQL_PASSWORD: "1234"
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
